@import 'styles/variables.scss';
@import 'styles/colors.scss';

.item-description-container {
    max-width: 680px;
    
    .item-description-header {
        font-size: 28px;
        margin: $margin-doble 0;
    }

    .item-description-content {
        font-size: 16px;
        color: $gray4;
    }
}