@import 'styles/colors';
@import 'styles/responsive';

.results-container {

    @include centered();

    .error-text {
        text-align: center;
        margin: 150px 0px;
        font-size: 20px;
    }

    .no-products {
        text-align: center;
        margin: 50px 0px;
    }

}