@import 'styles/colors';
@import 'styles/responsive';
@import 'styles/variables';

.detail-container {

    @include centered();
    padding: 0 $margin-doble $margin-doble $margin-doble;

    .item-header {
        display: flex;
        flex-direction: row;

        .item-detail {
            width: 408px;
        }
    }

    .item-footer{

    }
}