@import 'styles/fonts/ml_proxima_nova';
@import 'styles/colors';
@import 'styles/responsive';

* {
  box-sizing: border-box;
  font-family: "Proxima Nova";
  line-height: 1em;
}

html, body {
    min-height: 100%;
    background-color: $gray1;
}

.page-container {
    background-color: $gray1;
}

.home-fake-img-container {
    @include centered();
    img {
        width: 100%;
    }
}